<ion-content>
  <div class="title">
    <img src="assets/imgs/logo_ipb.png" class="img-logo">
    <h1 text-center>LPSB</h1>
  </div>
  <form (ngSubmit)="login()" [formGroup]="loginform" novalidate padding>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" item-end color="primary"></ion-icon>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="userData.email" formControlName="email" placeholder="Email"
          [class.error1]="!loginform.controls.email.valid && loginform.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines
        *ngIf="( loginform.get('email').hasError('minlength') || loginform.get('email').hasError('pattern') ||loginform.get('email').hasError('required') ) && loginform.get('email').touched">
        <div class="error" *ngIf="loginform.get('email').hasError('required') && loginform.get('email').touched">
          Masukkan email anda
        </div>
        <div class="error" *ngIf="loginform.get('email').hasError('pattern') && loginform.get('email').touched">
          Email tidak valid
        </div>
      </ion-item>

      <ion-item>
        <ion-icon name="key" item-end color="primary"></ion-icon>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" formControlName="password" placeholder="password"
          [class.error1]="!loginform.controls.password.valid && loginform.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines
        *ngIf="( loginform.get('password').hasError('minlength') || loginform.get('password').hasError('maxlength') ||loginform.get('password').hasError('required') ) && loginform.get('password').touched">
        <div class="error" *ngIf="loginform.get('password').hasError('required') && loginform.get('password').touched">
          Masukkan password anda
        </div>
        <div class="error" *ngIf="loginform.get('password').hasError('minlength') && loginform.get('password').touched">
          Minimal 6 karakter
        </div>
      </ion-item>
    </ion-list>

    <button type="submit" ion-button block text-capitalize [disabled]="loginform.invalid">
      Masuk
    </button>
  </form>

  <div class="footer">
    <p text-center>
      Belum punya akun?
      <strong><a (click)="gotoDaftar()"> Daftar.</a></strong>
    </p>
  </div>
</ion-content>
