page-login {
    .title {
        color: #66A652;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
    }
    .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
    }
    .footer {
        p {
            margin-top: 0;
        }
    }
    .img-logo {
        max-height: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    form {
        padding: 24px !important;

        .item-md.item-block .item-inner, .list-md .item-input:last-child{
            border-bottom: none;
        }

        ion-icon {
            margin-left: 10px !important;
            margin-right: 0 !important;
        }

        ion-item {
            padding-left: 0 !important;
        }

        button {
            height: 40px !important;
        }
    }

}