<ion-header>

  <ion-navbar>
    <ion-title text-center>Profil Saya</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <h1>
            {{nama}}
          </h1>
          <h2>
            <ion-icon name="mail" margin-end></ion-icon>
            <span *ngIf="email">{{email}}<br></span>
            <span *ngIf="!email">-<br></span>
          </h2>
          <h2>
            <ion-icon name="call" margin-end></ion-icon>
            <span *ngIf="noHp">{{noHp}}<br></span>
            <span *ngIf="!noHp">-<br></span>
          </h2>
          <h2>
            <ion-icon name="briefcase" margin-end></ion-icon>
            <span *ngIf="institusi">{{institusi}}<br></span>
            <span *ngIf="!institusi">-<br></span>
          </h2>
          <h2>
            <ion-icon name="home" margin-end></ion-icon>
            <span *ngIf="alamat">{{alamat}}<br></span>
            <span *ngIf="!alamat">-<br></span>
          </h2>
          <h2>
            <ion-icon name="checkmark-circle-outline" margin-end></ion-icon>
            NPWP:
            <span *ngIf="npwp">{{npwp}}<br></span>
            <span *ngIf="!npwp">-<br></span>
          </h2>
        </ion-col>
        <ion-col col-2 text-center>
          <button ion-button clear icon-only [navPush]="editProfil">
            <ion-icon name="create" color="primary"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item [navPush]="editRekening">
    <ion-icon name="card" item-start></ion-icon>
    Rekening Saya
    <ion-icon name="arrow-dropright" item-end color="primary"></ion-icon>
  </ion-item>
  <ion-item [navPush]="gantiPass">
    <ion-icon name="key" item-start></ion-icon>
    Ubah Password
    <ion-icon name="arrow-dropright" item-end color="primary"></ion-icon>
  </ion-item>
  <ion-item (click)="logout()">
    <ion-icon name="log-out" item-start></ion-icon>
    Keluar
    <ion-icon name="arrow-dropright" item-end color="primary"></ion-icon>
  </ion-item>
</ion-content>