<ion-header>

  <ion-navbar hideBackButton>
    <ion-title text-center>Profil Saya</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card >
    <ion-grid class="card-grey">
      <ion-row class="card-grey">
        <ion-col col-10 class="card-grey">
          <h1>
            {{nama}}
          </h1>
          <h2>
            <ion-icon name="mail" margin-end color="primary"></ion-icon>
            <span *ngIf="email">{{email}}<br></span>
            <span *ngIf="!email">-<br></span>
          </h2>
          <h2>
            <ion-icon name="call" margin-end color="primary"></ion-icon>
            <span *ngIf="noHp">{{noHp}}<br></span>
            <span *ngIf="!noHp">-<br></span>
          </h2>
          <h2>
            <ion-icon name="briefcase" margin-end color="primary"></ion-icon>
            <span *ngIf="institusi">{{institusi}}<br></span>
            <span *ngIf="!institusi">-<br></span>
          </h2>
          <h2>
            <ion-icon name="home" margin-end color="primary"></ion-icon>
            <span *ngIf="alamat">{{alamat}}<br></span>
            <span *ngIf="!alamat">-<br></span>
          </h2>
          <h2>
            <ion-icon name="checkmark-circle-outline" margin-end color="primary"></ion-icon>
            NPWP:
            <span *ngIf="npwp">{{npwp}}<br></span>
            <span *ngIf="!npwp">-<br></span>
          </h2>
        </ion-col>
        <ion-col col-2 text-center class="card-grey">
          <button ion-button clear icon-only (click)="editProfil()">
            <ion-icon name="create" color="primary"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item (click)="editRekening()">
    <ion-icon name="card" item-start color="primary"></ion-icon>
    Rekening Saya
    <ion-icon name="arrow-dropright" item-end color="primary"></ion-icon>
  </ion-item>
  <ion-item (click)="gantiPass()">
    <ion-icon name="key" item-start color="primary"></ion-icon>
    Ubah Password
    <ion-icon name="arrow-dropright" item-end color="primary"></ion-icon>
  </ion-item>
  <ion-item (click)="logout()">
    <ion-icon name="log-out" item-start color="primary"></ion-icon>
    Keluar
    <ion-icon name="arrow-dropright" item-end color="primary"></ion-icon>
  </ion-item>
</ion-content>