<script src="lib/ionic-modal-select/ionic-modal-select.js"></script>
<ion-header>

  <ion-navbar>
    <ion-title>Buat Pesanan</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-list radio-group no-margin [(ngModel)]="Institusi">
            <p no-margin><strong>Institusi/Perusahaan</strong></p>
            <ion-item no-padding>
              <ion-label class="labelSisaSampel">Institut Pertanian Bogor</ion-label>
              <ion-radio value="IPB" item-left style="margin: 6px;" (ionSelect)='offInputAsal()'></ion-radio>
            </ion-item>
            <ion-row>
              <ion-col col-4 no-padding>
                <ion-item no-padding>
                  <ion-label class="labelSisaSampel">Lainnya: </ion-label>
                  <ion-radio item-left style="margin-right: 6px;" (ionSelect)='onInputAsal()'></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-8 no-padding>
                <ion-item>
                  <ion-input type="text" [disabled]="inputAsal"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="sampelCtrl()">
    <ion-grid>
      <ion-row>
        <ion-col col-11>
          <h2>Sampel #1</h2>
        </ion-col>
        <ion-col col-1 text-center>
          <ion-icon *ngIf="!tutup" name="arrow-dropup" color="primary"></ion-icon>
          <ion-icon *ngIf="tutup" name="arrow-dropdown" color="primary"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- 
  <ion-card> -->
  <ion-grid class="itemSampel" *ngIf="!tutup">

    <ion-row>
      <ion-col col-12>
        <p no-margin>
          Kondisi Sampel
        </p>
        <ion-label color="primary" stacked>Jenis</ion-label>
        <ion-input type="text" placeholder="Jenis"></ion-input>
        <ion-row>
          <ion-col col-7>
            <ion-label color="primary" stacked>Kemasan</ion-label>
            <ion-select [(ngModel)]="kemasan" (ionChange)="kemasanSelected($event)">
              <ion-option value="pilih" disabled>Pilih</ion-option>
              <ion-option value="Plastik">Plastik</ion-option>
              <ion-option value="Kardus">Kardus</ion-option>
              <ion-option value="lainnya">Lainnya</ion-option>
            </ion-select>
            <ion-input type="text" *ngIf="kemasanLainnya" placeholder="Ketik kemasan lainnya.."></ion-input>
          </ion-col>
          <ion-col col-5>
            <ion-label color="primary" stacked>Jumlah</ion-label>
            <button ion-button icon-only clear no-margin (click)="minJumlah()">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
            <p class="jumlah">{{jumlah}}</p>
            <button ion-button icon-only clear no-margin (click)="addJumlah()">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-12>
        <p no-margin>
          Jenis Analisis
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item (click)="pilihAnalisis()">
          <ion-label *ngIf="!jenisAnalisis">Pilih Jenis Analisis</ion-label>
          <ion-label *ngIf="jenisAnalisis">{{jenisAnalisis}}</ion-label>
        </ion-item>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label color="primary" stacked>Bentuk</ion-label>
              <ion-select [(ngModel)]="bentuk">
                <ion-option value="pilih" disabled>Pilih</ion-option>
                <ion-option value="Ekstrak">Ekstrak</ion-option>
                <ion-option value="Simplisia">Simplisia</ion-option>
                <ion-option value="Serbuk">Serbuk</ion-option>
                <ion-option value="Cairan">Cairan</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <h2>Harga</h2>
              <h2>Rp 0</h2>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </ion-card> -->

  <!-- <ion-buttons right block> -->
  <button ion-button outline block>
    <ion-icon name="add-circle" margin-end></ion-icon>
    Tambah Sampel
  </button>
  <!-- </ion-buttons>  -->

</ion-content>
<ion-footer style="background-color: white">
  <ion-grid>
    <ion-row>
      <ion-col col-7>
        <p no-margin>
          <strong>Harga* : Rp 0</strong><br>
          {{asal}}
        </p>
      </ion-col>
      <ion-col col-5>
        <ion-buttons end>
          <button ion-button color="primary" [navPush]="reviewPesanan">Berikutnya</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>