page-buat-pesanan {
    .labelSisaSampel {
        font-size: 14px;
        white-space: normal;
    }
    .itemSampel {
        padding-left: 8px;
        padding-right: 8px;
    }
    .jumlah {
        display: inline;
    }
}
