page-detail-pesanan {
  ion-card {
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  ion-icon {
    margin-inline-end: 4px;
  }

  .statusA {
    border-bottom: 1px solid gainsboro;
  }



  .line {
    border-bottom: 1px solid gainsboro;
  }

  .line {
    border-bottom: 1px solid gainsboro;
  }

  .line2 {
    border-top: 1px solid gainsboro;
  }

  .line--green {
    border-bottom: 3px solid #66A652;
  }

  .text-utama {
    font-weight: bold;
    margin-bottom: 0;
  }

  .head {
    font-size: 16px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 4px;
  }

  .text-content {
    color: gray;
  }

  .text-item {
    padding-left: 8px;
    color: gray;
  }

  .section {
    display: inline-flex;

    p {
      align-self: flex-start;
    }

    &__item {
      align-self: flex-end;
    }
  }

  .cards {
    margin-top: 10px;

    &--flex {
      display: flex;
    }

    &__col {
      flex: 0 0 50%;
    }
  }

  // timeline-list
  h3 {
    margin: 20px 0;
  }

  .container {
    padding: 5px 0;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
  }

  .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
  }

  .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
  }

  .timeline-block:last-child {
      margin-bottom: 0;
  }

  .timeline-block-right {
    float: right;
  }

  .timeline-block-left {
    float: left;
    direction: rtl
  }

  .marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #b8b8b8;
    margin-top: 4px;
    z-index: 9999;
    text-align: center;
    position: relative;
    left: 6px;
  }

  .marker.active {
    background: #66A652;
  }

  .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
  }

  .timeline-content h3 {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .timeline-content span {
    font-size: 14px;
    color: #a4a4a4;
  }

  .container:before {
    left: 19px;
    width: 2px;
  }

  .timeline-block {
    width: 100%;
    margin-bottom: 10px;
  }

  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }

  .section {
    display: flex;
    padding: 5px;

    &__btn {
      margin: 5px
    }
  }
}
