<!--
  Generated template for the DetailPesananPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Rincian Pesanan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: whitesmoke;">

  <!-- STATUS UTAMA -->
  <ion-card *ngIf="status.WaktuPesananDibuat">
    <ion-grid class=" space">
      <ion-row>
        <ion-col col-1 align-self-right text-right class="status_utama">
          <ion-icon name="copy" color="primary" *ngIf="status.StatusUtama <= 5"></ion-icon>
          <ion-icon name="copy" color="danger" *ngIf="status.StatusUtama > 5"></ion-icon>
        </ion-col>
        <ion-col col-11 class="status_utama">
          <h2 class="text-utama">
            {{status_utama}}
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 class="status_utama">
        </ion-col>
        <ion-col col-11 class="status_utama">
          <p>
            {{ket_status_utama }}<br>
            <span *ngIf="status.StatusUtama ==7"></span>
            Waktu: {{ waktu_status_utama | date: 'dd-MM-yyyy HH:mm' }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- DATA DIRI -->
  <ion-card *ngIf="status.WaktuPesananDibuat">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h2 class="head">Data Diri</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-7>
          <p class="text-content">
            <ion-icon name="person" color="primary"></ion-icon>
            {{data_user.NamaLengkap}}<br>
            <ion-icon name="briefcase" color="primary"></ion-icon>
            {{ data_user.Institusi}}<br>
            <ion-icon name="home" color="primary"></ion-icon>
            {{ data_user.Alamat }}
          </p>
        </ion-col>
        <ion-col col-5>
          <p class="text-content">
            <ion-icon name="mail" color="primary"></ion-icon>
            {{data_user.Email}}<br>
            <ion-icon name="call" color="primary"></ion-icon>
            {{data_user.NoHP}}<br>
            NPWP: {{data_user.NoNPWP}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- STATUS ANALISIS -->
  <ion-card *ngIf="status.StatusUtama >= 3 && status.StatusUtama <= 5">
    <ion-grid>
      <ion-row>
        <ion-col col-11>
          <h2>Status Analisis</h2>
        </ion-col>
        <ion-col col-1 text-center>
          <ion-icon *ngIf="moreStatus" (click)="showStatus()" name="arrow-dropup" color="primary"></ion-icon>
          <ion-icon *ngIf="!moreStatus" (click)="showStatus()" name="arrow-dropdown" color="primary"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="timeline">
            <div class="container2 right2">
              <div class="content statusA">
                <p>{{ awal.status }}<br>
                  {{ awal.waktu | date: 'dd-MM-yyyy HH:mm' }}</p>
              </div>
            </div>
            <div *ngIf="moreStatus">
              <div class="container right" *ngFor="let status of sisa">
                <div class="content statusA">
                  <p>{{ status.status }}<br>
                    {{ status.waktu | date: 'dd-MM-yyyy HH:mm' }}</p>
                </div>
              </div>
            </div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- INFORMASI PEMBAYARAN -->
  <ion-card *ngIf="status.WaktuPesananDibuat">
    <ion-grid>
      <ion-row>
        <ion-col col-1 text-right align-self-center>
          <ion-icon name="cash" color="orange"></ion-icon>
        </ion-col>
        <ion-col col-11>
          <h2>Informasi Pembayaran</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>

        </ion-col>
        <ion-col col-7>
          Sub total <span *ngIf="pesanan.Percepatan == 2">(percepatan)</span>
        </ion-col>
        <ion-col col-4 text-right>
          <span *ngIf="pesanan.Percepatan == 1"> Rp {{ pesanan.HargaTotal-kodeUnik| number:0 }}</span>
          <span *ngIf="pesanan.Percepatan == 2">
            Rp ({{ (pesanan.HargaTotal-kodeUnik) / 2 }})x2<br>
            Rp {{ pesanan.HargaTotal - kodeUnik}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>

        </ion-col>
        <ion-col col-7>
          Kode Unik
        </ion-col>
        <ion-col col-4 text-right>
          Rp {{ kodeUnik }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>

        </ion-col>
        <ion-col col-7 style="font-weight: bold">
          Total
        </ion-col>
        <ion-col col-4 text-right style="color:#FF6B21; font-weight: bold">
          Rp {{ pesanan.HargaTotal | number:0}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- PESANAN -->
  <ion-card *ngIf="status.WaktuPesananDibuat">
    <ion-grid>
      <ion-row class="line">
        <ion-col col-2>
          <img src="../../assets/imgs/fitokimia.jpg">
        </ion-col>
        <ion-col col-4>
          <h3>{{ sampel_awal.JenisAnalisis }}
            <br>({{ sampel_awal.Metode }})
            <br>Rp {{ sampel_awal.HargaSampel | number:0}}
          </h3>
        </ion-col>
        <ion-col col-6>
          <p text-right text-capitalize>
            {{ sampel_awal.JenisSampel }} ({{ sampel_awal.Jumlah }})<br>
            Kemasan: {{ sampel_awal.Kemasan }}<br>
            Bentuk: {{ sampel_awal.BentukSampel }}
          </p>
        </ion-col>
      </ion-row>
      <div *ngIf="sampel_lain">
        <ion-row *ngFor="let sampel of sampel_sisa" class="line">
          <ion-col col-2>
            <img src="../../assets/imgs/fitokimia.jpg">
          </ion-col>
          <ion-col col-4>
            <h3>
              {{ sampel.JenisAnalisis }}
              <br>({{ sampel.Metode }})
              <br>Rp {{ sampel.HargaSampel | number:0 }}
            </h3>
          </ion-col>
          <ion-col col-6>
            <p text-right text-capitalize>
              {{ sampel.JenisSampel }} ({{ sampel.Jumlah }})<br>
              Kemasan: {{ sampel.Kemasan }}<br>
              Bentuk: {{ sampel.BentukSampel }}
            </p>
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="sampel_sisa.length != 0" class="line">
        <ion-col col-12 text-center>
          <p *ngIf="!sampel_lain">
            <a (click)="showSampel()">
              Tampilkan {{sampel_sisa.length}} Sampel Lagi
              <ion-icon name="arrow-dropdown"></ion-icon>
            </a>
          </p>
          <p *ngIf="sampel_lain">
            <a (click)="showSampel()">
              Sembunyikan {{sampel_sisa.length}} Sampel
              <ion-icon name="arrow-dropup"></ion-icon>
            </a>
          </p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pesanan.Keterangan">
        <ion-col col-6>
          Keterangan
        </ion-col>
        <ion-col col-6 text-right>
          {{ pesanan.Keterangan }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 *ngIf="status.WaktuPesananDibuat">
          No Pesanan
        </ion-col>
        <ion-col col-6 text-right>
          {{ pesanan.NoPesanan }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.WaktuPesananDibuat">
        <ion-col col-6>
          Pesanan Dibuat
        </ion-col>
        <ion-col col-6 text-right>
          {{ status.WaktuPesananDibuat | date: 'dd-MM-yyyy HH:mm' }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.StatusPembayaran == 3">
        <ion-col col-6>
          Pesanan Dibayar
        </ion-col>
        <ion-col col-6 text-right>
          {{ status.WaktuPembayaran | date: 'dd-MM-yyyy HH:mm' }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.StatusUtama == 5">
        <ion-col col-6>
          Pesanan Selesai
        </ion-col>
        <ion-col col-6 text-right>
          {{ status.WaktuSelesai | date: 'dd-MM-yyyy HH:mm' }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.StatusUtama > 5">
        <ion-col col-6>
          Pesanan Dibatalkan
        </ion-col>
        <ion-col col-6 text-right>
          {{ status.WaktuDibatalkan | date: 'dd-MM-yyyy HH:mm' }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- FORMULIR PERMOHONAN SAMPEL & TANDA TERIMA SAMPEL-->
  <ion-card *ngIf="status.StatusUtama == 2">
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <h2>Formulir Permohonan Sampel</h2>
        </ion-col>
        <ion-col col-3 text-right>
          <p>
            <strong><a (click)="toastUnduh()">Unduh</a></strong>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="text-item">
          Pesanan tervalidasi: {{ status.WaktuValidasiPesanan | date: 'dd-MM-yyyy HH:mm' }}
        </ion-col>
      </ion-row>

      <ion-row class="line2" *ngIf="status.StatusKirimSampel == 3">
        <ion-col col-9>
          <h2>Tanda Terima Sampel</h2>
        </ion-col>
        <ion-col col-3 text-right>
          <p>
            <strong><a (click)="toastUnduh()">Unduh</a></strong>
          </p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.StatusKirimSampel == 3">
        <ion-col col-12 class="text-item">
          Sampel diterima: {{ status.WaktuKirimSampel | date: 'dd-MM-yyyy HH:mm' }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- SERTIFIKAT HASIL UJI -->
  <ion-card *ngIf="status.StatusUtama == 5">
    <ion-grid>
      <ion-row>
        <ion-col col-1 text-right align-self-center>
          <ion-icon name="ribbon" color="primary"></ion-icon>
        </ion-col>
        <ion-col col-8>
          <h2><strong>Sertifikat Hasil Uji</strong></h2>
        </ion-col>
        <ion-col col-3 text-right>
          <p>
            <strong>
              <a (click)="lihatSertif()" *ngIf="status.StatusKirimSertifikat == 0">Lihat</a>
              <a (click)="toastUnduh()" *ngIf="status.StatusKirimSertifikat > 0">Unduh</a>
            </strong>
          </p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.StatusKirimSertifikat > 0">
        <ion-col col-12 class="text-item" *ngIf="status.StatusKirimSertifikat == 1 || statusPelanggan == 'MintaSertifikat'">
          Menunggu pengiriman
        </ion-col>
        <ion-col col-8 class="text-item" *ngIf="status.StatusKirimSertifikat > 1">
          No Resi: {{ status.ResiPengirimanSertif }}
          <div *ngIf="status.StatusKirimSertifikat == 3">
            Diterima: {{ status.WaktuTerimaSertifikat | date: 'dd-MM-yyyy HH:mm' }}
          </div>
        </ion-col>
        <ion-col col-4 *ngIf="status.StatusKirimSertifikat == 2">
          <button ion-button block outline text-capitalize (click)="ubahStatus('terimaSertif')">
            Terima
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="line2" *ngIf="status.StatusSisaSampel > 0 && status.StatusUtama == 5">
        <ion-col col-11>
          <h2>Pengiriman Sisa Sampel (COD)</h2>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.StatusSisaSampel > 0 && status.StatusUtama == 5">
        <ion-col col-12 class="text-item" *ngIf="status.StatusSisaSampel == 1">
          Menunggu pengiriman
        </ion-col>
        <ion-col col-8 class="text-item" *ngIf="status.StatusSisaSampel > 1">
          No Resi: {{ status.ResiPengirimanSisa }}
          <div *ngIf="status.StatusSisaSampel == 3">
            Diterima: {{ status.WaktuTerimaSisa | date: 'dd-MM-yyyy HH:mm' }}
          </div>
        </ion-col>
        <ion-col col-4 *ngIf="!status.WaktuTerimaSisa && status.StatusSisaSampel == 2">
          <button ion-button block outline text-capitalize (click)="ubahStatus('terimaSisa')">
            Terima
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- BUTTON -->
  <ion-card no-margin *ngIf="status.StatusUtama < 6">
    <ion-grid>
      <ion-row *ngIf="status.StatusUtama == 2">
        <ion-col col-6 text-center *ngIf="status.StatusPembayaran == 1">
          <button ion-button outline block color="orange" (click)="goto('pembayaran')" text-capitalize>
            <ion-icon name="cash"></ion-icon>
            Bayar Sekarang
          </button>
        </ion-col>
        <ion-col col-6 text-center *ngIf="status.StatusKirimSampel == 1">
          <button ion-button outline block (click)="goto('kirimSampel')" text-capitalize>
            <ion-icon name="paper-plane"></ion-icon>
            Kirim Sampel
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="" *ngIf="status.StatusUtama == 1">
        <ion-col col-12>
          <button ion-button full color="danger" (click)="goto('batal')">
            Batalkan Pesanan
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!status.WaktuUlasan && status.StatusUtama == 5">
        <ion-col col-12>
          <button ion-button full (click)="goto('ulasan')">
            Beri Ulasan
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="status.WaktuUlasan && status.StatusUtama == 5">
        <ion-col col-8 align-self-center>
          Telah diulas pada {{ status.WaktuUlasan | date: 'dd-MM-yyyy' }}
        </ion-col>
        <ion-col col-4>
          <button ion-button outline block (click)="goto('ulasan')" text-capitalize>
            Lihat
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>