page-cari {
    .grid-content{
        background-color: whitesmoke;
    }
    .search-bar{
        background-color: white !important;
    }
    .card-jenis {
        //margin: 0;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 4px;
        height: 182px;
    }
    .text-content{
        // position: absolute;
        // bottom: 10px;
        color:#FF6B21;

    }
    .img-jenis {
        margin-top: 4px;
        border-radius: 50%;
        margin: auto;
        display: block;
        width: 50%;
        padding: 4px;
    }
    h2, p {
        padding: 4px;
        white-space: normal;   
    }
}
