page-modal-detail-sampel {
    .price-title{
        color: gray;
        font-size: 14px;
      }
      .price{
        color: #FF6B21;
        font-weight: bold;
        font-size: 18px;
        margin-top: 4px;
        margin-bottom: 4px;
      }
      .price-item{
        color: #FF6B21;
        font-weight: bold;
        font-size: 16px;
      }

  .title{
    font-size: 16px;
  }
}
