page-detail-analisis {
    .img-jenis {
        border-radius: 50%;
        width: 150px;
        padding: 16px;
        margin: auto;
        display: block;
    }
    h2, p {
        padding: 4px;
    }
}

