page-detail-analisis {
    .img-jenis {
        border-radius: 50%;
        width: 150px;
        padding: 16px;
        margin: auto;
        display: block;
    }
    h2, p {
        padding: 4px;
    }
    .sub-head{
        font-size: 16px !important;
        color: black;
        border-bottom: 2px solid whitesmoke;
    }
    .text-content{
        font-size: 14px !important;
        color: black;
    }
    .head{
        font-size: 18px !important;
        color: black;
    }
    .footer {
        position: fixed;
        z-index: 1;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 0;
      }
}

