
<ion-header>
  <ion-navbar hideBackButton>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-8 style="padding-top: 4px;">
          <ion-title>LPSB</ion-title>
        </ion-col>
        <ion-col col-4 no-padding>
            <page-navbar></page-navbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager>

        <ion-slide style="background-color:white">
          <h6>Selamat datang di LPSB!</h6>
        </ion-slide>
      
        <ion-slide style="background-color: white">
          <h2>Slide 2</h2>
        </ion-slide>
      
        <ion-slide style="background-color: white">
          <h2>Slide 3</h2>
        </ion-slide>
      
      </ion-slides>

      <ion-card no-padding class="card-utama" color="light">
        <ion-card-header>
          KATEGORI
        </ion-card-header>

        <ion-card-content>
          <ion-scroll scrollX="true" direction="x">
            <ion-card class="item card-item"  *ngFor="let kategori of kategoris">
              <img src="../../assets/imgs/logo.png">
              <p text-center class="tess">
                {{kategori}}
              </p>
            </ion-card>
          </ion-scroll>

        </ion-card-content>
      </ion-card>

  <!-- <ion-list no-margin>
    <ion-list-header no-margin>
      <ion-title>Jenis Analisis</ion-title>
        <button ion-button color="dark" clear icon-only item-right [navPush]="kategoriAnalisis">
            <ion-icon name='arrow-dropright' is-active="false"></ion-icon>
          </button>
    </ion-list-header>
  </ion-list>

  <ion-grid>
    <ion-row>
       <ion-col col-6 *ngFor="let kategori of listKategori.kategoris">
        <button ion-button full color="light">
          {{kategori.Kategori}}
        </button>
      </ion-col> -->
      <!-- <ion-col col-6>
        <button ion-button full color="light">
          Senyawa Penciri
        </button>
      </ion-col>
      <ion-col col-6>
          <button ion-button full color="light">
            Mikrobiologi
          </button>
      </ion-col>
      <ion-col col-6>
          <button ion-button full color="light">
            Kadar
          </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="light">
          Logam Berat
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="light">
          Ekstraksi
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="light">
          Pola KLT
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="light">
          DPPH
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="light">
          Enzim
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="light">
          Lainnya
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-fab right bottom>
    <button ion-fab [navPush]="buatPesanan">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>