page-home {
  .content{
    background-color: whitesmoke;
  }
  .search-bar{
    background-color: white !important;
  }
    ion-slides {
    height: 15vh;
  }
  ion-col {
    .button-inner {
      text-transform: none;
      font-weight: normal;
    }
  }
  .img-card {
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
  }
  .card-utama {
    // width: 100% !important;
    // margin: 0 !important;
  }
  .card-item {
    width: 30%;
    margin: auto;
    background-color: transparent;
    webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    white-space: normal;
  }

  // scroller
  ion-scroll {
    width: 100vw;
    display: inline-block;
    height: 16vh;
  }

  .scroll-zoom-wrapper {
    white-space: nowrap;
  }

  .options {
    margin-top: 3vh;
    height: 10vh;
    width: 20%;
    margin: 0;
  }
  .tess {
    line-height: normal;
    white-space: normal;
  }
}
