<ion-header>

    <ion-navbar>
        <ion-title>
            {{ kategori }}
        </ion-title>
        <ion-buttons end>
            <button ion-button color="primary" class="btn--navbar" clear icon-only (click)="notifikasi()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="jumlahNotif" color="danger">{{ jumlahNotif }}</ion-badge>
        </ion-icon>
      </button>
            <button ion-button color="primary" id="btn" clear icon-only (click)="keranjang()">
        <ion-icon name="cart">
          <ion-badge *ngIf="jumlahKeranjang" color="danger">{{ jumlahKeranjang}}</ion-badge>
        </ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="grid-content">
    <ion-searchbar (click)="cari()" class="search-bar" [(ngModel)]="cariAnalisis" placeholder="Contoh: Fitokimia, Ekstraksi..">
    </ion-searchbar>

    <ion-grid no-padding>
        <ion-row>
            <ion-col *ngFor="let item of listKatalog" col-6 no-padding>
                <ion-card class="card-jenis" (click)="gotoDetailAnalisis(item.IDKatalog)" text-center>
                    <img src="assets/imgs/fitokimia.jpg" class="img-jenis">
                    <h2 text-uppercase><strong>{{item.JenisAnalisis}}</strong></h2>
                    <p class="text-content">
                        Rp {{item.Harga | number:0 }}
                    </p>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>