page-kategori-analisis {
    .grid-content{
        background-color: whitesmoke;
    }
    .card-jenis {
        //margin: 0;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 4px;
    }
    .img-jenis {
        margin-top: 4px;
        border-radius: 50%;
        margin: auto;
        display: block;
        width: 50%;
        padding: 4px;
    }
    h2, p {
        padding: 4px;
        white-space: normal;   
    }
}

