<!--
  Generated template for the ModalPilihAnalisisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pilih Jenis Analisis</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Pilih</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list radio-group no-margin [(ngModel)]="jenisAnalisis">
    <!-- <ion-item-divider color="light" *ngFor="let kategori of kategoris.kategori">{{kategori}}</ion-item-divider> -->
    <ion-item *ngFor="let jenis of analisis">
      <ion-label>{{jenis}}</ion-label>
      <ion-radio value={{jenis}} item-left style="margin: 6px;"></ion-radio>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Antioksidan</ion-label>
      <ion-radio value="Antioksidan"></ion-radio>
    </ion-item> -->
  </ion-list>
</ion-content>
