<!--
  Generated template for the ModalPilihAnalisisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pilih Jenis Analisis</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Pilih</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list radio-group no-margin [(ngModel)]="jenisAnalisis">
    <div *ngFor="let kategori of kategoris.kategoris">
      <ion-item-divider color="light">{{kategori.Kategori}}</ion-item-divider>
      <div *ngFor="let jenis of katalogs.katalogs">
        <ion-item *ngIf="kategori.IDKategori === jenis.IDKategori">
          <ion-label>{{jenis.JenisAnalisis}}</ion-label>
          <ion-radio value={{jenis.IDKatalog}} item-left style="margin: 6px;" 
            (ionSelect)="jenisSelected(jenis.JenisAnalisis)"></ion-radio>
        </ion-item>
      </div>
    </div>
    <!-- <ion-item>
      <ion-label>Antioksidan</ion-label>
      <ion-radio value="Antioksidan"></ion-radio>
    </ion-item> -->
  </ion-list>
</ion-content>