// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-col {
    position: initial !important;
}
ion-input, ion-textarea, ion-select{
    border-bottom: 1px solid #66A652;
}
a {
    color: black;
}
.list-ios {
  > .item-block:last-child, .item-block {
    border: none !important;
  }
}
.list-ios .item-block .item-inner {
  border: none;
}
.btn-eye {
  padding: 0 !important;
  margin-right: 0 !important;
}
.icon-eye {
  font-size: 2.8rem;
  margin: 0;
}
.notif {
  display: block !important;
  top: 1px;
  right: 5px;
  width: 13px;
  height: 13px;
  padding-left: 0px;
  padding-right: 0px;
}
.notif, .badge-ios {
  right: -2px !important;
}
button {
  ion-badge {
    border-radius: 50% !important;
    padding: 3px 7px !important;
  }
}