<ion-header>

  <ion-navbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-2 no-padding>
          <button ion-button (click)="closeModal()" clear icon-only>
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-10 no-padding align-self-center>
          <ion-title>Ulasan</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h6 *ngIf="!ulas">
    Berikan ulasan anda terhadap pesanan di aplikasi ini
  </h6>
  <h6 *ngIf="ulas">
    Ulasan anda terhadap pesanan di aplikasi ini
  </h6>
  <ion-item class="inputan" no-padding>
    <ion-textarea placeholder="Tulis ulasan anda... " rows="4" cols="20" autofocus="true" [(ngModel)]="ulasan" [disabled]="ulas"></ion-textarea>
  </ion-item>
  <ion-buttons end padding-top *ngIf="!ulas">
    <button ion-button text-capitalize (click)="kirim()">
      Kirim
    </button>
  </ion-buttons>
</ion-content>