page-review-pesanan {
    .labelSisaSampel {
        font-size: 14px;
        white-space: normal;
    }
    ion-card{
        width: 100% !important;
        margin: 0 !important;
    }
    .sub-head{
        font-size: 16px !important;
        color: black;
    }
    .text-content{
        font-size: 14px !important;
        color: black;
    }
    .head{
        font-size: 18px !important;
        color: black;
    }
}
