page-buat-pesanan2 {
    position: relative;
    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
    }
    .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
    }
    .primary {
        color: #FF6B21;
        font-size: 16px;
        padding-top: 10px;
    }

    .section {
        border-top: 1px solid gainsboro;
        width: 100%;
        display: flex;
        padding: 10px;
        background-color: white;
        z-index: 1;
    }
    .btn-ion {
        flex: 0 1 50%;
        margin-right: 10px;
    }
    .btn-ion:last-child {
        margin-right: 0;
    }
}