page-buat-pesanan2 {
    position: relative;
    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
    }
    .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
    }
    .primary {
        color: #FF6B21;
        font-size: 16px;
        padding-top: 10px;
    }

    ion-footer {
        width: 100%;
        display: flex;
        background-color: white;
        z-index: 1;
        margin: 0;
        height: 40px;
        border: none;
    }

    .btn-ion {
        flex: 0 1 50%;
        height: 40px;
        margin: 0 !important;
    }
    .btn-ion:last-child {
        margin-right: 0;
    }

    
}