page-buat-pesanan2 {
  .jumlah {
    display: inline;
  }
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }
  .footer {
    position: absolute;
    // z-index: 1;
    bottom: 0;
    // width: 100%;
    background-color: white;

  }

  .primary{
    color: #FF6B21;
    font-size: 16px;
    padding-top: 10px;
  }

}
